html {
    margin: auto;
    width: 80%;
    height: 100vh;
}

.text-center.w-80.jumbo-wrapper {
    width: 91%;
    margin: auto;
}

.searchBar-wrapper {
    width: 50%;
    margin: auto;
}


.text-center.w-80.jumbo-wrapper {
    width: 90%;
}

.form-control {
    height: 4.2vw;
    box-shadow: 0.5em -0em 2em #6a87afde;
}

.btn.btn-primary {
    z-index: 4;
    right: 4.9em;
    position: inherit;
}


.searchBar-wrapper {
    position: relative;
    top: -4.5em;
}

.form-control {
    /* height: 3em; */
    height: 5.2em;
}

.btn.btn-primary {
    right: 1em;
    position: absolute;
    padding: 17px;
    width: auto;
    top: 18px;
    border-radius: 15px;
    height: auto;
}


.bg-primary {
    border-radius: 15px;
    margin-top: 0.8em;
    color: white;
}

.form-control {
    border: 1px solid #ced4da00;
    border-radius: 0.9rem;
    border-top-right-radius: 1em;
}



.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
    border-top-right-radius: none;
}

.jumbotron {
    padding: 5vw 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
}



.nav-wrapper {
    width: 80%;
    margin: auto;
    margin-top: 1.1em;
}

dl,
ol,
ul {
    display: flex;
    padding: 10px;
}





.gif-wrap {
    margin-left: 20px;
    box-shadow: 0.5em .5em #a6e1ee;
    margin-top: 25px;
    border-radius: 10px;
    list-style: none;
    margin: auto;
    margin-top:35px;
    margin-left:10px;
}


.bg-primary {
    background: linear-gradient(90deg, rgba(74, 65, 228, 1) 0%, rgba(45, 173, 201, 1) 50%, rgba(176, 230, 241, 1) 100%);
}

img {
    border-radius: 10px;
    height: 23vh;
}
  
  dl, ol, ul {
    flex-wrap: wrap;
  }
  
  .form-control:focus {
    border-color: none;
}